<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Panel</title>
	<script type="text/javascript">
		const r = JSON.parse('<%- JSON.stringify(routes) %>');
		console.log(r)
		const route = '<%- parameters.route %>';
	</script>
</head>
<body>
	<div id="root"></div>
	<script defer type="text/javascript" src="/app.bundle.js"></script>
</body>
</html>